.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

label{
  font-weight: bold;
  display: flex;
  margin-bottom: 10px;
}

input[type = 'text'],
input[type = 'email']{
  display: block;
  width: 400px;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1.4em;
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-bottom: 20px;
}